## My notebook containing the original dataset

In [1]:
# Load Modules

# Python package for dataframe generation and manipulation
import pandas as pd
# Python package for third party operating systems
import os

In [2]:
# Read File

honeybee_csv = pd.read_csv(os.path.join('Resources', 'Data', 'vHoneyNeonic_v03_with_growth.csv'))
honeybee_csv

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,ColonyGrowth,GrowthOutcome
0,AL,23000.0,24,552000.0,66000.0,0.63,348000.0,1991,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0
1,AL,25000.0,41,1025000.0,113000.0,0.59,605000.0,1992,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,8.695652,1
2,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,-24.000000,0
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN,-5.263158,0
4,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5,-11.111111,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,56,840.9,155.9,526.2,0.0,0.0,1523.0,-6.000000,0
1128,WY,38000.0,61,2318000.0,255000.0,2.08,4821000.0,2014,Wyoming,West,56,1262.0,258.2,566.1,0.0,0.0,2086.3,-19.148936,0
1129,WY,38000.0,77,2926000.0,146000.0,1.90,5559000.0,2015,Wyoming,West,56,0.0,114.4,19.0,0.0,0.0,133.4,0.000000,0
1130,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,56,0.0,27.5,9.4,0.0,0.0,36.9,5.263158,1
1131,WY,39000.0,53,2067000.0,186000.0,1.59,3287000.0,2017,Wyoming,West,56,NaN,NaN,NaN,NaN,NaN,NaN,-2.500000,0

In [3]:
# Drop Null Values

honeybee_csv = honeybee_csv.dropna(how='any',axis=0) 
honeybee_csv

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,ColonyGrowth,GrowthOutcome
4,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5,-11.111111,0
5,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6,-6.250000,0
6,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8,-6.666667,0
7,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998,Alabama,South,1,0.0,1836.3,0.0,0.0,0.0,1836.3,14.285714,1
8,AL,17000.0,68,1156000.0,185000.0,0.56,647000.0,1999,Alabama,South,1,0.0,1251.2,0.0,0.0,0.0,1251.2,6.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,56,1174.9,277.0,423.3,0.0,0.0,1875.2,42.857143,1
1127,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,56,840.9,155.9,526.2,0.0,0.0,1523.0,-6.000000,0
1128,WY,38000.0,61,2318000.0,255000.0,2.08,4821000.0,2014,Wyoming,West,56,1262.0,258.2,566.1,0.0,0.0,2086.3,-19.148936,0
1129,WY,38000.0,77,2926000.0,146000.0,1.90,5559000.0,2015,Wyoming,West,56,0.0,114.4,19.0,0.0,0.0,133.4,0.000000,0
1130,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,56,0.0,27.5,9.4,0.0,0.0,36.9,5.263158,1

In [4]:
# List Column Names

reorganize_columns = honeybee_csv.columns.tolist()
reorganize_columns

['state',
 'numcol',
 'yieldpercol',
 'totalprod',
 'stocks',
 'priceperlb',
 'prodvalue',
 'year',
 'StateName',
 'Region',
 'FIPS',
 'nCLOTHIANIDIN',
 'nIMIDACLOPRID',
 'nTHIAMETHOXAM',
 'nACETAMIPRID',
 'nTHIACLOPRID',
 'nAllNeonic',
 'ColonyGrowth',
 'GrowthOutcome']

In [5]:
# Reorganize Column Arrangement

honeybee_csv = honeybee_csv[['state', 'StateName', 'Region', 'FIPS', 'numcol', 'totalprod', 'yieldpercol', 'priceperlb', 'prodvalue', 'stocks', 'year', 'nCLOTHIANIDIN', 'nIMIDACLOPRID', 'nTHIAMETHOXAM', 'nACETAMIPRID', 'nTHIACLOPRID', 'nAllNeonic', 'ColonyGrowth','GrowthOutcome']]
honeybee_csv

,state,StateName,Region,FIPS,numcol,totalprod,yieldpercol,priceperlb,prodvalue,stocks,year,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic,ColonyGrowth,GrowthOutcome
4,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5,-11.111111,0
5,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6,-6.250000,0
6,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8,-6.666667,0
7,AL,Alabama,South,1,16000.0,1136000.0,71,0.72,818000.0,159000.0,1998,0.0,1836.3,0.0,0.0,0.0,1836.3,14.285714,1
8,AL,Alabama,South,1,17000.0,1156000.0,68,0.56,647000.0,185000.0,1999,0.0,1251.2,0.0,0.0,0.0,1251.2,6.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2,42.857143,1
1127,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0,-6.000000,0
1128,WY,Wyoming,West,56,38000.0,2318000.0,61,2.08,4821000.0,255000.0,2014,1262.0,258.2,566.1,0.0,0.0,2086.3,-19.148936,0
1129,WY,Wyoming,West,56,38000.0,2926000.0,77,1.90,5559000.0,146000.0,2015,0.0,114.4,19.0,0.0,0.0,133.4,0.000000,0
1130,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9,5.263158,1

In [6]:
# Rename Columns

honeybee_csv = honeybee_csv.rename(columns={'state': 'State', 'numcol': 'ColonyCount', 'totalprod': 'TotalProduction',
                                             'yieldpercol': 'YieldPerColony', 'priceperlb': 'PricePerLB', 'prodvalue': 'ProductionValue',
                                             'stocks': 'Stocks', 'year': 'YearRecorded', 'nCLOTHIANIDIN': 'Clothianidin',
                                             'nIMIDACLOPRID': 'Imidacloprid', 'nTHIAMETHOXAM': 'Thiamethoxam', 'nACETAMIPRID': 'Acetamiprid',
                                             'nTHIACLOPRID': 'Thiacloprid', 'nAllNeonic': 'CombinedNeonic','ColonyGrowth':'ColonyGrowth','GrowthOutcome':'GrowthOutcome'})
honeybee_csv

,State,StateName,Region,FIPS,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic,ColonyGrowth,GrowthOutcome
4,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5,-11.111111,0
5,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6,-6.250000,0
6,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8,-6.666667,0
7,AL,Alabama,South,1,16000.0,1136000.0,71,0.72,818000.0,159000.0,1998,0.0,1836.3,0.0,0.0,0.0,1836.3,14.285714,1
8,AL,Alabama,South,1,17000.0,1156000.0,68,0.56,647000.0,185000.0,1999,0.0,1251.2,0.0,0.0,0.0,1251.2,6.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2,42.857143,1
1127,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0,-6.000000,0
1128,WY,Wyoming,West,56,38000.0,2318000.0,61,2.08,4821000.0,255000.0,2014,1262.0,258.2,566.1,0.0,0.0,2086.3,-19.148936,0
1129,WY,Wyoming,West,56,38000.0,2926000.0,77,1.90,5559000.0,146000.0,2015,0.0,114.4,19.0,0.0,0.0,133.4,0.000000,0
1130,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9,5.263158,1

In [7]:
honeybee_csv.to_csv("Resources/Data/CleanedHoneybeeDataset.csv", index=False, header=True)

In [8]:
modified_for_model = honeybee_csv
modified_for_model

,State,StateName,Region,FIPS,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic,ColonyGrowth,GrowthOutcome
4,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5,-11.111111,0
5,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6,-6.250000,0
6,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8,-6.666667,0
7,AL,Alabama,South,1,16000.0,1136000.0,71,0.72,818000.0,159000.0,1998,0.0,1836.3,0.0,0.0,0.0,1836.3,14.285714,1
8,AL,Alabama,South,1,17000.0,1156000.0,68,0.56,647000.0,185000.0,1999,0.0,1251.2,0.0,0.0,0.0,1251.2,6.250000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2,42.857143,1
1127,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0,-6.000000,0
1128,WY,Wyoming,West,56,38000.0,2318000.0,61,2.08,4821000.0,255000.0,2014,1262.0,258.2,566.1,0.0,0.0,2086.3,-19.148936,0
1129,WY,Wyoming,West,56,38000.0,2926000.0,77,1.90,5559000.0,146000.0,2015,0.0,114.4,19.0,0.0,0.0,133.4,0.000000,0
1130,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9,5.263158,1

In [9]:
modified_for_model = modified_for_model.drop(["State", "StateName", "Region", "FIPS", "YearRecorded", "ColonyGrowth"], axis=1)
modified_for_model
# modified_for_model = modified_for_model.apply(pd.to_numeric, errors='coerce')
# modified_for_model = modified_for_model.dropna()
# modified_for_model

,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic,GrowthOutcome
4,16000.0,928000.0,58,0.69,640000.0,28000.0,0.0,716.5,0.0,0.0,0.0,716.5,0
5,15000.0,960000.0,64,0.87,835000.0,96000.0,0.0,371.6,0.0,0.0,0.0,371.6,0
6,14000.0,924000.0,66,0.81,748000.0,92000.0,0.0,6704.8,0.0,0.0,0.0,6704.8,0
7,16000.0,1136000.0,71,0.72,818000.0,159000.0,0.0,1836.3,0.0,0.0,0.0,1836.3,1
8,17000.0,1156000.0,68,0.56,647000.0,185000.0,0.0,1251.2,0.0,0.0,0.0,1251.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,50000.0,2550000.0,51,1.87,4769000.0,459000.0,1174.9,277.0,423.3,0.0,0.0,1875.2,1
1127,47000.0,3102000.0,66,2.11,6545000.0,558000.0,840.9,155.9,526.2,0.0,0.0,1523.0,0
1128,38000.0,2318000.0,61,2.08,4821000.0,255000.0,1262.0,258.2,566.1,0.0,0.0,2086.3,0
1129,38000.0,2926000.0,77,1.90,5559000.0,146000.0,0.0,114.4,19.0,0.0,0.0,133.4,0
1130,40000.0,2720000.0,68,1.78,4842000.0,190000.0,0.0,27.5,9.4,0.0,0.0,36.9,1

In [10]:
modified_for_model = modified_for_model.apply(pd.to_numeric, errors='coerce')
modified_for_model.head()

,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic,GrowthOutcome
4,16000.0,928000.0,58,0.69,640000.0,28000.0,0.0,716.5,0.0,0.0,0.0,716.5,0
5,15000.0,960000.0,64,0.87,835000.0,96000.0,0.0,371.6,0.0,0.0,0.0,371.6,0
6,14000.0,924000.0,66,0.81,748000.0,92000.0,0.0,6704.8,0.0,0.0,0.0,6704.8,0
7,16000.0,1136000.0,71,0.72,818000.0,159000.0,0.0,1836.3,0.0,0.0,0.0,1836.3,1
8,17000.0,1156000.0,68,0.56,647000.0,185000.0,0.0,1251.2,0.0,0.0,0.0,1251.2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1126,50000.0,2550000.0,51,1.87,4769000.0,459000.0,1174.9,277.0,423.3,0.0,0.0,1875.2,1
1127,47000.0,3102000.0,66,2.11,6545000.0,558000.0,840.9,155.9,526.2,0.0,0.0,1523.0,0
1128,38000.0,2318000.0,61,2.08,4821000.0,255000.0,1262.0,258.2,566.1,0.0,0.0,2086.3,0
1129,38000.0,2926000.0,77,1.90,5559000.0,146000.0,0.0,114.4,19.0,0.0,0.0,133.4,0
1130,40000.0,2720000.0,68,1.78,4842000.0,190000.0,0.0,27.5,9.4,0.0,0.0,36.9,1

In [11]:
modified_for_model.to_csv("Resources/Data/growth_designation.csv", index=False)

## Column Appendix:
* State = State name abbreviation
* StateName = State name in full
* Region = Classification of States per US-Census
* FIPS = Federal Information Processing System code
* ColonyCount = The States total number of Honeybee colonys 
* TotalProduction = The States total amount of honey produced
* YieldPerColony = Total production devided by the colony count (TotalProduction / ColonyCount)
* PricePerLB = Based on sales calculated in US dollars
* ProductionValue = Total production multiplied by price per pound in US dollars (TotalProduction x PricePerLB)
* Stocks = Honey reserves held by the honey farmers per pound
* YearRecorded = The year that all of the measurements were recorded for a given row
* Clothianidin = The amount of Clothianidin droplets sprayed directly onto plants in kg
* Imidacioprid = The amount of Imidacioprid droplets sprayed directly onto plants in kg
* Thiamethoxam = The amount of Thiamethoxam droplets sprayed directly onto plants in kg
* Acetamiprid = The amount of Acetamiprid droplets sprayed directly onto plants in kg
* Thiacioprid = The amount of Thiacioprid droplets sprayed directly onto plants in kg
* ColonyGrowth = Different in colony size in each state over each year of recorded data
* GrowthOutcome = Binary notation of colony growth (ColonyGrowth <= 0 returns a '0', ColonyGrowth > 0 returns a '1')

In [ ]:
# Export to CSV

# honeybee_csv2.to_csv("Resources/Data/CleanedHoneybeeDataset.csv", index=False, header=True)