## My notebook containing the original dataset

In [1]:
# Load Modules

# Python package for dataframe generation and manipulation
import pandas as pd
# Python package for third party operating systems
import os

In [2]:
# Read File

honeybee_csv1 = pd.read_csv(os.path.join('Resources', 'Data', 'vHoneyNeonic_v02.csv'))
honeybee_csv1.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0

In [3]:
# Read File

honeybee_csv2 = pd.read_csv(os.path.join('Resources', 'Data', 'vHoneyNeonic_v03.csv'))
honeybee_csv2

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,18000.0,50,900000.0,99000.0,0.52,468000.0,1994,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,19000.0,45,855000.0,103000.0,0.59,504000.0,1993,Alabama,South,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,56,0.0,27.5,9.4,0.0,0.0,36.9
1128,WY,43000.0,80,3440000.0,894000.0,1.00,3440000.0,2007,Wyoming,West,56,122.2,198.3,76.3,0.0,0.0,396.8
1129,WY,46000.0,60,2760000.0,524000.0,0.68,1877000.0,1998,Wyoming,West,56,0.0,91.2,0.0,0.0,0.0,91.2
1130,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,56,840.9,155.9,526.2,0.0,0.0,1523.0
1131,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,56,1174.9,277.0,423.3,0.0,0.0,1875.2

In [4]:
# Drop Null Values

honeybee_csv2 = honeybee_csv2.dropna(how='any',axis=0) 
honeybee_csv2

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,FIPS,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,14000.0,66,924000.0,92000.0,0.81,748000.0,1997,Alabama,South,1,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,15000.0,64,960000.0,96000.0,0.87,835000.0,1996,Alabama,South,1,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,16000.0,58,928000.0,28000.0,0.69,640000.0,1995,Alabama,South,1,0.0,716.5,0.0,0.0,0.0,716.5
7,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,1,7696.2,3258.1,4149.6,0.0,0.0,15103.9
8,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,1,680.0,4230.2,5371.6,0.0,0.0,10281.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,56,0.0,27.5,9.4,0.0,0.0,36.9
1128,WY,43000.0,80,3440000.0,894000.0,1.00,3440000.0,2007,Wyoming,West,56,122.2,198.3,76.3,0.0,0.0,396.8
1129,WY,46000.0,60,2760000.0,524000.0,0.68,1877000.0,1998,Wyoming,West,56,0.0,91.2,0.0,0.0,0.0,91.2
1130,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,56,840.9,155.9,526.2,0.0,0.0,1523.0
1131,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,56,1174.9,277.0,423.3,0.0,0.0,1875.2

In [5]:
# List Column Names

reorganize_columns = honeybee_csv2.columns.tolist()
reorganize_columns

['state',
 'numcol',
 'yieldpercol',
 'totalprod',
 'stocks',
 'priceperlb',
 'prodvalue',
 'year',
 'StateName',
 'Region',
 'FIPS',
 'nCLOTHIANIDIN',
 'nIMIDACLOPRID',
 'nTHIAMETHOXAM',
 'nACETAMIPRID',
 'nTHIACLOPRID',
 'nAllNeonic']

In [6]:
# Reorganize Column Arrangement

honeybee_csv2 = honeybee_csv2[['state', 'StateName', 'Region', 'FIPS', 'numcol', 'totalprod', 'yieldpercol', 'priceperlb', 'prodvalue', 'stocks', 'year', 'nCLOTHIANIDIN', 'nIMIDACLOPRID', 'nTHIAMETHOXAM', 'nACETAMIPRID', 'nTHIACLOPRID', 'nAllNeonic']]
honeybee_csv2

,state,StateName,Region,FIPS,numcol,totalprod,yieldpercol,priceperlb,prodvalue,stocks,year,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5
7,AL,Alabama,South,1,11000.0,616000.0,56,1.49,918000.0,209000.0,2007,7696.2,3258.1,4149.6,0.0,0.0,15103.9
8,AL,Alabama,South,1,11000.0,792000.0,72,1.21,958000.0,230000.0,2006,680.0,4230.2,5371.6,0.0,0.0,10281.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9
1128,WY,Wyoming,West,56,43000.0,3440000.0,80,1.00,3440000.0,894000.0,2007,122.2,198.3,76.3,0.0,0.0,396.8
1129,WY,Wyoming,West,56,46000.0,2760000.0,60,0.68,1877000.0,524000.0,1998,0.0,91.2,0.0,0.0,0.0,91.2
1130,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0
1131,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2

In [7]:
# Rename Columns

honeybee_csv2 = honeybee_csv2.rename(columns={'state': 'State', 'numcol': 'ColonyCount', 'totalprod': 'TotalProduction',
                                             'yieldpercol': 'YieldPerColony', 'priceperlb': 'PricePerLB', 'prodvalue': 'ProductionValue',
                                             'stocks': 'Stocks', 'year': 'YearRecorded', 'nCLOTHIANIDIN': 'Clothianidin',
                                             'nIMIDACLOPRID': 'Imidacloprid', 'nTHIAMETHOXAM': 'Thiamethoxam', 'nACETAMIPRID': 'Acetamiprid',
                                             'nTHIACLOPRID': 'Thiacloprid', 'nAllNeonic': 'CombinedNeonic'})
honeybee_csv2

,State,StateName,Region,FIPS,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic
0,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5
7,AL,Alabama,South,1,11000.0,616000.0,56,1.49,918000.0,209000.0,2007,7696.2,3258.1,4149.6,0.0,0.0,15103.9
8,AL,Alabama,South,1,11000.0,792000.0,72,1.21,958000.0,230000.0,2006,680.0,4230.2,5371.6,0.0,0.0,10281.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9
1128,WY,Wyoming,West,56,43000.0,3440000.0,80,1.00,3440000.0,894000.0,2007,122.2,198.3,76.3,0.0,0.0,396.8
1129,WY,Wyoming,West,56,46000.0,2760000.0,60,0.68,1877000.0,524000.0,1998,0.0,91.2,0.0,0.0,0.0,91.2
1130,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0
1131,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2

## Column Appendix:
* State = State name abbreviation
* StateName = State name in full
* Region = Classification of States per US-Census
* FIPS = Federal Information Processing System code
* ColonyCount = The States total number of Honeybee colonys 
* TotalProduction = The States total amount of honey produced
* YieldPerColony = Total production devided by the colony count (TotalProduction / ColonyCount)
* PricePerLB = Based on sales calculated in US dollars
* ProductionValue = Total production multiplied by price per pound in US dollars (TotalProduction x PricePerLB)
* Stocks = Honey reserves held by the honey farmers per pound
* YearRecorded = The year that all of the measurements were recorded for a given row
* Clothianidin = The amount of Clothianidin droplets sprayed directly onto plants in kg
* Imidacioprid = The amount of Imidacioprid droplets sprayed directly onto plants in kg
* Thiamethoxam = The amount of Thiamethoxam droplets sprayed directly onto plants in kg
* Acetamiprid = The amount of Acetamiprid droplets sprayed directly onto plants in kg
* Thiacioprid = The amount of Thiacioprid droplets sprayed directly onto plants in kg

In [10]:
# Export to CSV

honeybee_csv2.to_csv("Resources/Output/CleanedHoneybeeDataset.csv", index=False, header=True)