In [1]:
import pandas as pd
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
cleaned_data = pd.read_csv(os.path.join("Resources", "Output", "CleanedHoneybeeDataset.csv"))
cleaned_data

,State,StateName,Region,FIPS,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic
0,AL,Alabama,South,1,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8
1,AL,Alabama,South,1,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6
2,AL,Alabama,South,1,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5
3,AL,Alabama,South,1,11000.0,616000.0,56,1.49,918000.0,209000.0,2007,7696.2,3258.1,4149.6,0.0,0.0,15103.9
4,AL,Alabama,South,1,11000.0,792000.0,72,1.21,958000.0,230000.0,2006,680.0,4230.2,5371.6,0.0,0.0,10281.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,WY,Wyoming,West,56,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9
891,WY,Wyoming,West,56,43000.0,3440000.0,80,1.00,3440000.0,894000.0,2007,122.2,198.3,76.3,0.0,0.0,396.8
892,WY,Wyoming,West,56,46000.0,2760000.0,60,0.68,1877000.0,524000.0,1998,0.0,91.2,0.0,0.0,0.0,91.2
893,WY,Wyoming,West,56,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0
894,WY,Wyoming,West,56,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2

In [3]:
reduced_data = cleaned_data.drop(columns=["State", "StateName", "FIPS"])
reduced_data

,Region,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic
0,South,14000.0,924000.0,66,0.81,748000.0,92000.0,1997,0.0,6704.8,0.0,0.0,0.0,6704.8
1,South,15000.0,960000.0,64,0.87,835000.0,96000.0,1996,0.0,371.6,0.0,0.0,0.0,371.6
2,South,16000.0,928000.0,58,0.69,640000.0,28000.0,1995,0.0,716.5,0.0,0.0,0.0,716.5
3,South,11000.0,616000.0,56,1.49,918000.0,209000.0,2007,7696.2,3258.1,4149.6,0.0,0.0,15103.9
4,South,11000.0,792000.0,72,1.21,958000.0,230000.0,2006,680.0,4230.2,5371.6,0.0,0.0,10281.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,West,40000.0,2720000.0,68,1.78,4842000.0,190000.0,2016,0.0,27.5,9.4,0.0,0.0,36.9
891,West,43000.0,3440000.0,80,1.00,3440000.0,894000.0,2007,122.2,198.3,76.3,0.0,0.0,396.8
892,West,46000.0,2760000.0,60,0.68,1877000.0,524000.0,1998,0.0,91.2,0.0,0.0,0.0,91.2
893,West,47000.0,3102000.0,66,2.11,6545000.0,558000.0,2013,840.9,155.9,526.2,0.0,0.0,1523.0
894,West,50000.0,2550000.0,51,1.87,4769000.0,459000.0,2012,1174.9,277.0,423.3,0.0,0.0,1875.2

In [4]:
X = reduced_data.drop(columns="Region")
y = reduced_data["Region"]
feature_names = X.columns
print(X.shape, y.shape)

(895, 13) (895,)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train

,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic
705,7000.0,385000.0,55,1.84,708000.0,58000.0,2006,1644.2,5413.7,13435.6,1060.2,33.4,21587.1
453,10000.0,500000.0,50,1.57,785000.0,215000.0,2006,4395.6,7366.0,7042.1,565.0,440.6,19809.3
289,30000.0,2700000.0,90,0.90,2430000.0,675000.0,2006,1909.5,4995.6,13520.1,356.3,0.0,20781.5
798,6000.0,384000.0,64,0.85,326000.0,207000.0,1998,0.0,3.2,0.0,0.0,0.0,3.2
35,40000.0,2280000.0,57,0.87,1984000.0,388000.0,2004,530.9,11941.3,9368.6,3312.4,0.0,25153.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,8000.0,504000.0,63,2.50,1260000.0,106000.0,2010,2765.5,10607.5,17264.6,326.5,6.4,30970.5
767,5000.0,175000.0,35,4.50,788000.0,42000.0,2013,2191.6,8739.3,4279.2,309.2,10.8,15530.1
72,340000.0,13600000.0,40,1.04,14144000.0,3672000.0,2007,1.3,112185.1,2541.8,11249.3,28.7,126006.2
235,8000.0,472000.0,59,2.54,1199000.0,203000.0,2012,108503.1,52850.4,19470.2,28.2,1.7,180853.6
37,45000.0,3960000.0,88,1.26,4990000.0,871000.0,2002,0.0,1306.7,1462.0,107.9,0.0,2876.6

In [6]:
X_test

,ColonyCount,TotalProduction,YieldPerColony,PricePerLB,ProductionValue,Stocks,YearRecorded,Clothianidin,Imidacloprid,Thiamethoxam,Acetamiprid,Thiacloprid,CombinedNeonic
535,15000.0,1155000.0,77,0.91,1051000.0,219000.0,1996,0.0,1547.7,0.0,0.0,0.0,1547.7
34,36000.0,2484000.0,69,0.97,2409000.0,571000.0,2005,2458.3,6902.1,7310.4,981.2,0.0,17652.0
375,130000.0,8840000.0,68,1.04,9194000.0,2564000.0,2007,28186.4,5190.5,13464.7,0.0,0.0,46841.6
81,450000.0,37350000.0,83,0.62,23157000.0,12326000.0,1998,0.0,61047.2,0.0,0.0,0.0,61047.2
6,12000.0,1044000.0,87,1.41,1472000.0,282000.0,2004,2676.4,1323.9,3863.9,0.0,0.0,7864.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,7000.0,336000.0,48,1.19,400000.0,104000.0,2006,222.6,3587.4,227.6,58.4,0.0,4096.0
509,57000.0,2736000.0,48,2.04,5581000.0,1450000.0,2015,0.0,5562.7,574.6,0.5,0.0,6137.8
331,7000.0,217000.0,31,1.28,278000.0,37000.0,2004,0.0,5041.3,160.8,0.0,0.0,5202.1
888,39000.0,3627000.0,93,0.59,2140000.0,798000.0,2000,0.0,44.5,0.0,0.0,0.0,44.5
599,15000.0,1035000.0,69,1.40,1449000.0,580000.0,2005,10132.8,2235.4,4942.4,363.5,46.2,17720.3

In [7]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7008928571428571

In [8]:
rf = RandomForestClassifier(n_estimators=800)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8571428571428571

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.12263751853440652, 'Stocks'),
 (0.10975849848174091, 'YieldPerColony'),
 (0.08927738870386913, 'CombinedNeonic'),
 (0.08903812805526762, 'TotalProduction'),
 (0.088580045489923, 'Clothianidin'),
 (0.08582092161245075, 'Imidacloprid'),
 (0.08507342568382764, 'ColonyCount'),
 (0.07296667070920568, 'ProductionValue'),
 (0.07106826813178907, 'Thiamethoxam'),
 (0.06111253591326629, 'PricePerLB'),
 (0.0495106440861481, 'Acetamiprid'),
 (0.046612543272884915, 'YearRecorded'),
 (0.028543411325220445, 'Thiacloprid')]

In [10]:
from sklearn.metrics import classification_report
honeybee_prediction = rf.predict(X_test)
print(classification_report(y_test, honeybee_prediction))

              precision    recall  f1-score   support

     Midwest       0.85      0.86      0.85        58
   Northeast       0.84      0.75      0.79        28
       South       0.86      0.87      0.86        76
        West       0.87      0.89      0.88        62

    accuracy                           0.86       224
   macro avg       0.85      0.84      0.85       224
weighted avg       0.86      0.86      0.86       224